body {
    color: #CCC;
    background-color: #353535;
}

canvas {
    display: block;
    margin: 50px auto 0;
    background-color: #303030;
    box-shadow: 0 0 10px #222;
}

#game-infos {
    position: absolute;
    width: 800px;
    top: 30px;
    left: calc(50% - 400px);
    line-height: 20px;
    font-size: 12px;
    margin: 0;
}
